{% extends 'base.html' %}

{% block content %}
    {% if object %}
        <h1 class="page-title">Updating Job App</h1>
    {% else %}
        <h1 class="page-title">Add a Job App</h1>
    {% endif %}

    <form ALIGN='center' class="main-form" action="" method="post">
        {% csrf_token %}
        <table>
            {{ form.as_table }}
        </table>
        <input type="submit" value="Submit!" class="btn blue darken-1">
    </form>

    <script>
        const dateEl = document.getElementById('id_submission_date');
        M.Datepicker.init(dateEl, {
          format: 'yyyy-mm-dd',
          defaultDate: new Date(),
          setDefaultDate: true,
          autoClose: true
        });
        const dateEl2 = document.getElementById('id_follow_up_date');
        M.Datepicker.init(dateEl2, {
          format: 'yyyy-mm-dd',
          defaultDate: new Date(Date.now() + 12096e5),
          setDefaultDate: true,
          autoClose: true
        });
    </script>
{% endblock %}