{% extends 'base.html' %}
{% block content %}

<h1 class="page-title">{{jobapp.company}} {{jobapp.job_title}} Details</h1>

<div class="card">
  <div class="card-content">
    <span class="card-title">{{ jobapp.company }}</span>
    <p>Excitement: {{ jobapp.excitement_level }}</p>
    <p>Job Title: {{ jobapp.job_title }}</p>
    <p>Status: {{ jobapp.status }}</p>
    <p>Description: {{ jobapp.description }}</p>
    <p>Submission Date: {{ jobapp.submission_date }}</p>
    <p>Follow Up Date: {{ jobapp.follow_up_date }}</p>
    <p>notes: {{ jobapp.notes }}</p>
    <p>Resume Used: <a target="_blank" href="{{ jobapp.resume_url }}">{{ jobapp.resume_url }}</a></p>
    <p>Cover Letter Used: <a target="_blank" href="{{ jobapp.cover_letter_url }}">{{ jobapp.cover_letter_url }}</a></p>
  </div>
  <div class="card-action">
    <a href="{% url 'jobapps_update' jobapp.id %}">Edit</a>
    <a href="{% url 'jobapps_delete' jobapp.id %}">Delete</a>
  </div>
</div>

{% endblock %}