{% extends 'base.html' %}
{% block content %}

<h1 class="page-title">Application List</h1>

<p class="page-subtitle">Sort by</p>
<div class="index-buttons-container">
  <a class="btn-flat" href="{% url 'jobapps_index_by_company' %}">Company Name</a>|
  <a class="btn-flat" href="{% url 'jobapps_index_by_date' %}">Submission Date</a>|
  <a class="btn-flat" href="{% url 'jobapps_index_by_excitement' %}">Excitement Level</a>|
  <a class="btn-flat" href="{% url 'jobapps_index_by_status' %}">Status</a>
</div>
{% for job in jobapps %}
  <div class="card">
    <a href="{% url 'jobapps_detail' job.id %}">
      <div class="card-content">
        <span class="card-title">{{ job.company }}</span>
        <p>Title: {{ job.job_title }}</p>
        <p>Excitement: {{ job.excitement_level }}</p>
        <p>Status: {{ job.get_status_display }}</p>
      </div>
    </a>
  </div>

  {% empty %}
  <h1>You don't have any job applications yet!</h1>
  <h1>Create one <a href="{% url 'jobapps_create' %}">here</a>.</h1>

{% endfor %}
<div class="green-add-button" >
  <a href="{% url 'jobapps_create' %}"><button class="btn-floating btn-large pulse green">+</button></a>
</div>
<script defer>
  const selectEl = document.getElementById('id_options');
  M.FormSelect.init(selectEl); 
</script>

{% endblock %}