{% extends 'base.html' %}
{% block content %}

<h1 class="page-title">Application List</h1>

<form class="index-buttons-container" method="get" action="{% url 'jobapps_create' %}">
  {% csrf_token %}
  {{ form.as_p }}
  <input type="submit" class="btn indigo darken-1" value="Create New JobApp">
</form>
<p class="page-title">Sort by</p>
<div class="index-buttons-container">
  <a class="btn" href="{% url 'jobapps_index_by_company' %}">Company Name</a>
  <a class="btn" href="{% url 'jobapps_index_by_date' %}">Submission Date</a>
  <a class="btn" href="{% url 'jobapps_index_by_excitement' %}">Excitement Level</a>
  <a class="btn" href="{% url 'jobapps_index_by_status' %}" disabled>Status</a>
</div>
{% for job in jobapps %}
  <div class="card">
    <a href="{% url 'jobapps_detail' job.id %}">
      <div class="card-content">
        <span class="card-title">{{ job.company }}</span>
        <p>Title: {{ job.job_title }}</p>
        <p>Excitement: {{ job.excitement_level }}</p>
      </div>
    </a>
  </div>

  {% empty %}
  <h1> THERE AIN'T NO JOBAPPS IN HERE.</h1>
  <h1>ADD ONE AT THE <a href="{% url 'jobapps_create' %}">NEW JOBAPP PAGE</a>.</h1>
  <br>
  <br>
  <br>
  <br>
  <br>
  <h6>thanks. gtfo.</h6>
{% endfor %}
<button class="btn-floating pulse green">+</button>
<script defer>
  const selectEl = document.getElementById('id_options');
  M.FormSelect.init(selectEl); 
</script>

{% endblock %}