{% extends 'base.html' %}
{% block content %}

<h1 class="brand-logo">&nbsp;&nbsp;Git<span class="employed">Employed</span></h1>
<br>
<div id="title">
<h1> Welcome to Git Employed </h1> 
<h5> The Penultimate Job App, App Tracker, App. </h5>
</div>

<div id="about">
<h3> What is Git Employed? </h3>
<h5> Git Employed makes keeping track of job applications easy peasy lemon sqzy. </h5>

<h3> What else does Git Employed offer? </h3>
<h5> Git Employed also has a user populated resource database for all your job hunting needs! </h5>
</div>

<h4> Meet the devs </h4>
<div id="image-block">
    <img id="jackson-pic" src="https://i.imgur.com/yEuRbbo.jpg?1">
    <img id="ernest-pic" src="https://i.imgur.com/rtsJsUX.jpg?1">
    <img id="jack-pic" src="https://i.imgur.com/PEiZNUJ.jpg?1">
</div>


{% endblock %}