{% extends 'base.html' %}
{% block content %}

<h1 class="brand-logo">Git<span class="employed indigo-text darken-3">Employed</span></h1>
<h5 ALIGN="center"> "The Penultimate Job App, App Tracker, App."<sup><small>TM</small></sup></h5>

<div id="about">
<h3 class="header-text"> What is GitEmployed? </h3>
<hr>
<h5> GitEmployed makes keeping track of job applications super easy! Just enter in the information and GitEmployed does all the work for you!</h5>

<h3 class="header-text"> What else does GitEmployed offer? </h3>
<hr>
<h5> GitEmployed also has a user populated resource database that you can add to and save specific resources to your favorites to make finding them easier!</h5>
<h3 ALIGN="center">Click <a href="{% url 'signup' %}">here</a> to Git Started!</h3>
</div>


<h4 ALIGN="center" class="meet-devs"> Meet the devs (Click on our photos for more information!)</h4>
<div id="image-block" class="img-container">
    <div class="prof-pic">
        <img id="jackson-pic" src="https://i.imgur.com/yEuRbbo.jpg?1">
        <div class="hidden dev-metadata" id="jackson-data">
            <p>Jackson Cole</p>
            <a target="_blank" href="https://www.github.com/nexusmane">Github</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a target="_blank" href="https://www.linkedin.com/in/jacksonccole">LinkedIn</a>
        </div>

    </div>
    <div class="prof-pic">
        <img id="ernest-pic" src="https://lh3.googleusercontent.com/a-/AOh14Gg-DISEB6wPkgX6Mbk54NlAMMZSjIQ7Twxgz0309g=s288-p-rw-no">
        <div class="hidden dev-metadata" id="ernest-data">
            <p>Ernest Bruno</p>
            <a target="_blank" href="https://www.github.com/nexticodes">Github</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a target="_blank" href="https://www.linkedin.com/in/ernestbruno">LinkedIn</a>
        </div>
    </div>
    <div class="prof-pic">
        <img id="jack-pic" src="https://i.imgur.com/PEiZNUJ.jpg?1">
        <div class="hidden dev-metadata" id="jack-data">
            <p>Jack Hansen</p>
            <a target="_blank" href="https://www.github.com/jhhansen00">Github</a>&nbsp;&nbsp;|&nbsp;&nbsp;
            <a target="_blank" href="https://www.linkedin.com/in/-jackhansen">LinkedIn</a>
        </div>

    </div>
</div>
<script>
    let jacksonPic = document.querySelector('#jackson-pic');
    let jacksonData = document.querySelector('#jackson-data');
    let jackPic = document.querySelector('#jack-pic');
    let jackData = document.querySelector('#jack-data');
    let ernestPic = document.querySelector('#ernest-pic');
    let ernestData = document.querySelector('#ernest-data');
    let imgContainer = document.querySelector('.img-container')


    jacksonPic.addEventListener('click', e => {
        jacksonPic.classList.toggle('hidden');
        jacksonData.classList.toggle('hidden');
    })
    jacksonData.addEventListener('click', e => {
        jacksonPic.classList.toggle('hidden');
        jacksonData.classList.toggle('hidden');
    })
    jackPic.addEventListener('click', e => {
        jackPic.classList.toggle('hidden');
        jackData.classList.toggle('hidden');
    })
    jackData.addEventListener('click', e => {
        jackPic.classList.toggle('hidden');
        jackData.classList.toggle('hidden');
    })
    ernestPic.addEventListener('click', e => {
        ernestPic.classList.toggle('hidden');
        ernestData.classList.toggle('hidden');
    })
    ernestData.addEventListener('click', e => {
        ernestPic.classList.toggle('hidden');
        ernestData.classList.toggle('hidden');
    })
</script>


{% endblock %}