body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: 'Barlow Semi Condensed';
    font-weight: 400;
  }
  
  main {
    flex: 1 0 auto;
  }

  .card {
    border: 1px solid black;
  }
  
  footer.page-footer {
    padding-top: 0;
    text-align: right;
    min-height: 5vh;
    max-height: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3vh;
    margin-top: 5vh;
  }

  .brand-logo {
    font-family: 'Barlow Semi Condensed';
    font-weight: 700;
    font-size: 10vw;
    text-align: center;
    color: black;
    text-decoration: underline;
  }

  .employed {
    font-style: italic;
  }

  #homelogo {
    max-width: 55px;
    max-height: 55px;
    width: 55px;
    height: 55px;
    transform: translateY(-2.5px) ;
  }

  .img-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #3949ab;
    color: white;
    border: 5px solid black;
    box-shadow: 0px 2px 5px black;
    max-width: 80vw;
    max-height: 26vh;
    margin-bottom: 50px;
    min-height: 25vh;
    min-width: 25vw;
  }

  .prof-pic {
    height: 20vh;
    width: 20vw;
    max-height: 20vh;
    max-width: 20vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .prof-pic p {
    font-size: 34px;
  }

  .prof-pic img {
    max-height: 20vh;
    max-width: 20vw;
    margin: 10px; 
    box-shadow: 0px 2px 5px rgb(1, 191, 191);
  }
  
  hr {
    border: 2px solid #283593;
  }

  .home-text {
    transform: translateY(20px);
  }

  .header-text {
    transform: translateY(15px);  
  }

  .meet-devs {
    margin-top: 75px;
  }

  .main-form {
    background-color: white;
    border: 3px solid black;
    padding: 3vh 5vw;
    border-radius: 10px;
    box-shadow:  2px 5px 5px #283593, 4px 10px 15px rgb(1, 191, 191);
  }

  .index-buttons-container {
    margin-bottom: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: inherit;
    border: none;
    box-shadow: none;
  }

  .page-title {
    text-align: center;
    font-weight: 500;
    text-shadow: 2px 2px 5px rgb(161, 242, 242), 5px 5px 10px #283593;
  }

  .page-subtitle {
    text-align: center;
    font-weight: 500;
    text-shadow: 2px 2px 5px #4d5696;
  }
  
  .nav-wrapper li a:hover{
    background-color: #e8eaf6 ;
    color: black;
    animation: smooth-scale 0.5s forwards;
  }

  .btn:hover {
    animation: smooth-scale 0.5s forwards;
    color: white
  }

  @keyframes smooth-scale {
    100% {
      transform: scale(1.1);
    }
  }

  #resource-content-container {
    min-height: 20vh;
    max-height: 40vh;
    min-width: 60vw;
    border: 1px solid black;
    box-shadow: 0px 0px 5px inset black;
    padding: 2vh 5vw;
  }

  .comment-container {
    padding: 2vh 5vw;
    margin-top: 2vh;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
  }

  .hidden {
    display: none;
  }

  .sort-btn {
    background-color: #283593;
    text-decoration: none;
    color: white;
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px dotted #e8eaf6;
    border-radius: 10px;
    box-shadow: 0px 0px 2px black;
  }

  .sort-btn:hover {
    color: white;
    animation: smooth-scale 0.5s forwards;
  }

  .add-button {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .application-progress {
    box-shadow: 0px 0px 5px inset blue
  }

  .application-accepted {
    box-shadow: 0px 0px 5px inset green
  }

  .application-rejected {
    box-shadow: 0px 0px 5px inset red
  }

  .btn-flat:hover {
    animation: smooth-scale 0.5s forwards
  }