{% extends 'base.html' %}
{% block content %}

<h1 class="page-title">Resource List</h1>

<form class="index-buttons-container" method="get" action="{% url 'resources_create' %}">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" class="btn indigo darken-1" value="Add Resource">
  </form>
  

{% for resource in resources %}
  <div class="card">
    <a href="{% url 'resources_detail' resource.id %}">
      <div class="card-content">
        <span class="card-title">{{ resource.title }}</span>
        <p>Category: {{ resource.get_category_display }}</p>
        <p>URL: {{ resource.resource_url }}</p>
        <p>Content: {{ resource.content }}</p>
      </div>
    </a>
  </div>
  {% empty %}
<h1> THERE AIN'T NO RESOURCES IN HERE.</h1>
<h1>ADD ONE AT THE <a href="{% url 'resources_create' %}">NEW RESOURCES PAGE</a>.</h1>
<br>
<br>
<br>
<br>
<br>
<h6>thanks. gtfo.</h6>

{% endfor %}

{% endblock %}