{% extends 'base.html' %}
{% block content %}

<h1 class="page-title">Favorites</h1>

{% for resource in favorites %}
  <div class="card">
    <a href="{% url 'resources_detail' resource.resource.id %}">
      <div class="card-content">
        <span class="card-title">{{ resource.resource.title }}</span>
        <p>Category: {{ resource.resource.get_category_display }}</p>
        <p>URL: {{ resource.resource.resource_url }}</p>
        <p>Content: {{ resource.resource.content }}</p>
      </div>
    </a>
  </div>
{% empty %}
<h1> You currently don't have any favorites!</h1>
<h1>Git some <a href="{% url 'resources_index' %}">here</a>.</h1>

{% endfor %}

{% endblock %}